OPENAI_API_KEY=tu_clave_de_openai
INSTAGRAM_ACCESS_TOKEN=996064988988485
INSTAGRAM_USER_ID=4b6c06bbcc9f350a9dda641fd1a93974
OPENAI_API_KEY= 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
