# Virtual environment folder
venv/
venv/*

# Python-specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables file
.env

# Flask-specific ignores
instance/
*.sqlite3
*.db

# Logs
*.log
logs/

# Compiled code
*.so

# IDE or editor files
.idea/
.vscode/
*.swp
*.swo

# Byte-compiled or compiled files
*.pyc
*.pyo
*.pyd
*.pyc.*

# Test coverage reports
.coverage
*.cover
.hypothesis/

# Static file artifacts
staticfiles/
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp
*.old
*.save
